<table>
	<tr>
		<th>Rank</th>
		<th>Country</th>
		<th>GDP (millions of USD)</th>
	</tr>
	{{ #countries:i }}
		{{ #country }}
			<tr>
				<td>{{ i+1 }}</td>
				<td>{{ country }}</td>
				<td class="numbers">{{ commaSeperate(value) }}</td>
			</tr>
		{{/}}
	{{ / }}
</table>