<table>
	<tr>
		<th>Rank</th>
		<th>Country</th>
		<th>GDP (millions of USD)</th>
	</tr>
	{{ #countries:i }}
		<tr>
			<td>{{ i+1 }}</td>
			<td>{{ country }}</td>
			<td class="numbers">{{ gdp }}</td>
		</tr>
	{{ / }}
</table>